<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/defaultLayout}">

<main layout:fragment="content">
    <section class="list">
        <h3>글목록</h3>
        <article>
            <table border="0">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>날짜</th>
                    <th>조회</th>
                </tr>
                <tr th:each="article, index:${pageResponseDTO.dtoList}">
                    <td th:text="${pageResponseDTO.startNo - index.index}"></td>
                    <td>
                        <a th:text="${article.title}" th:href="@{/view(no=${article.no})}"></a>
                    </td>
                    <td th:text="${article.writer}"></td>
                    <td>
                        <span th:if="${article.rdate != null}" th:text="${#temporals.format(article.rdate, 'yyyy-MM-dd')}"></span>
                    </td>
                    <td th:text="${article.hit}">12</td>
                </tr>
            </table>
        </article>

        <div class="paging">
            <!-- 이전 버튼 -->
            <a th:if="${pageResponseDTO.prev}" th:href="@{/list(pg=${pageResponseDTO.start-1})}">이전</a>
            <!-- 페이지 링크 -->
            <th:block th:each="num:${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
                <a th:href="@{/list(pg=${num})}" th:class="${pageResponseDTO.pg == num} ? 'current' : 'off'" th:text="${num}"></a>
            </th:block>
            <!-- 다음 버튼 -->
            <a th:if="${pageResponseDTO.next}" th:href="@{/list(pg=${pageResponseDTO.end+1})}">다음</a>
        </div>
        <form th:action="@{/list}" class="search-form" style="text-align: center; margin-bottom: 10px;">
            <input type="text" name="searchKeyword" class="search-input" style="margin-right: 5px;">
            <button type="submit" class="search-button" style="padding: 8px 12px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer;">검색</button>
        </form>

        <!-- 페이지 네비게이션
        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <a th:if="${page != nowPage}" th:href="@{/list(page = ${page - 1})}" th:text="${page}"></a>
            <strong th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong>
        </th:block> -->

        <!-- 글쓰기 버튼 -->
        <a th:href="@{/write}" class="btnWrite">글쓰기</a>
    </section>
</main>

</html>