<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/layout/defaultLayout}">

<main layout:fragment="content">
            <section class="modify">
                <h3>글수정</h3>
                <article>
                    <form th:action="@{/modify/{no}(no=${article.no})}" method="post" enctype="multipart/form-data">
                        <table>
                            <tr>
                                <td>제목</td>
                                <td><input type="text" name="title" th:value="${article.title}" placeholder="제목을 입력하세요."/></td>
                            </tr>
                            <tr>
                                <td>내용</td>
                                <td>
                                    <textarea name="content" th:text="${article.content}"></textarea>
                                </td>
                            </tr>
                        </table>
                        <div>
                            <a th:href="@{/view(no=${article.no})}" class="btnCancel">취소</a>
                            <input type="submit"  class="btnWrite" value="수정완료">
                        </div>
                    </form>
                </article>
            </section>
        </main>
</html>