<th:block th:include="~{/user/_header.html}"/>
        <main>
            <section class="terms">
                <table>
                    <caption>사이트 이용약관</caption>
                    <tr>
                        <td>
                            <textarea readonly>[[${termResult.terms}]]</textarea>
                            <p>
                                <label><input type="checkbox" name="chk1"/>동의합니다.</label>
                            </p>
                        </td>
                    </tr>
                </table>
                <table>
                    <caption>개인정보 취급방침</caption>
                    <tr>
                        <td>
                            <textarea readonly>[[${termResult.privacy}]]</textarea>
                            <p>
                                <label><input type="checkbox" name="chk2"/>동의합니다.</label>
                            </p>
                        </td>
                    </tr>
                </table>
                <table>
                    <caption>마켓팅 수신동의</caption>
                    <tr>
                        <td>
                            <textarea readonly>[[${termResult.sms}]]</textarea>
                            <p>
                                <label><input type="checkbox" name="chk3"/>동의합니다.</label>
                            </p>
                        </td>
                    </tr>
                </table>
                <div>
                    <a th:href="@{/user/login}" class="btnCancel">취소</a>
                    <a th:href="@{/user/register}" class="btnNext">다음</a>
                </div>
            </section>
        </main>
<th:block th:include="~{/user/_footer.html}"/>